.colorOptions {
    width: fit-content;
    width: -moz-fit-content;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 25px auto 20px auto;
    .colorCircle {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        box-sizing: border-box;
        &.white {
            border: 1px solid #494d53;
        }
    }
}