.productGallery {
    width: 90%;
    max-width: 1250px;
    margin: 0 auto;
    .productGalleryInner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        grid-column-gap: 60px;
        grid-row-gap: 90px;
    }
    @media (max-width: 767px) {
        .productGalleryInner {
            grid-row-gap: 40px;
        }
    }
}