.productGallery {
    width: 90%;
    max-width: 1250px;
    margin: 0 auto;
    .productGalleryInner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        grid-row-gap: 90px;
    }
}